* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(247, 249, 252) !important; 
}
.navbar {
    background-color: white !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.container {
    /* padding: 70px 51px; */
    /* border: 2px solid red; */
}
.products {
    /* display: flex; */
    /* width: 70%; */
    /* height: 800px; */
    /* position: relative; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* border: 2px solid purple; */
}
.search {
    display: flex;
    align-items: center;
    gap: 8px;
    input {
        color: black;
    }
}
.categories {
    width: 30%;
    display: flex;
    align-items: center;
    padding: 11px 15px
}
.col-5 {
    li a {
        background-color: rgb(247, 249, 252);
        padding: 3px 3px;
        width: 30%;
    }
}
.col-7 {
    display: flex;
}
.item {
    border: 1px solid rgb(209, 205, 205);
    height: 389px;
    width: 305px;
    /* width: 33.11%; */
    position: relative;
    transition: .3s;
    margin-top: 20px;
    border-radius: 6px;
    background-color: white;
}
.item:hover {
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.item:hover .icons {
    display: block !important;
}
.icons {
    position: absolute;
    right: 0;
    display: none;
    margin-top: 7px;
}
.favorit i {
    color: black;
    padding: 5px 10px;
    font-size: large;
}
.eye i {
    color: black;
    padding: 5px 10px;
    font-size: larger;
}
.image {
    width: 36rem;
    /* text-align: center; */
}
.image img{
    width: 60%;
}
.title div{
    /* border: 2px solid green; */
    margin-left: 20px;
}
.colors a h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 2rem;
}
.rating span i {
    color: rgb(255, 212, 72);
    margin: 0 3px;
    /* text-decoration: none; */
    font-size: 15px;
}
/* .add-info {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
} */
/* h3 {
    padding: 5px;
    font-size: 15px;
} */
.cost {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.cost span {
    width: 600;
    color: rgb(215, 28, 28);
    font-size: 15px;
}
.cost i {
    color: rgb(215, 28, 28);
    border: 1px solid rgb(215, 28, 28);
    background-color: white;
    display: inline-table;
    border-radius: 18%;
    margin: 10px 20px;
    padding: 2px 4px;
}
footer {
    background-color: rgb(26, 51, 93);
    width: 100%;
}
/* .basket-button a {
    border: 1px solid rgb(215, 28, 28);
    background-color:white;
    display: inline-table;
    border-radius: 18%;
    margin: 15px 20px;
    padding: 4px 4px;
} */
/* .basket-button a i {
    padding-right: 10px;
    color: rgb(215, 28, 28);
    text-align: center;
    text-align: right;
} */
/* .price {
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 66px;
} */
/* .cost {
    font-size: 25px;
    margin-top: 5px;
} */
/* .price-right {
    background-color: #edf0f6;
    border-radius: 5%;
    padding: 15px 30px;
    font-family: Arial, Helvetica, sans-serif;
} */
/* .credit-cost {
    font-size: small;
    color: #707276;
} */
/* .month {
    padding-bottom: 10px;
} */
/* .credit-cost .center {
    border: 1px solid black;
    border-radius: 12%;
    padding: 5px 5px;
    color: #232d40;
} */
/* .price-right .partly-cost {
    color: black;
    size: 30px;
    font-size: 17px;
} */